
.row, .wrap {
    margin: 0 auto;
}

.wrap {
    width: 100%;
    max-width: 960px;
}

header.main .wrap {
    width: 100%;
    max-width: 100%;
}

.clear.both {
    clear: both;
}

header.main .search {
    clear: right;
    float: right;
    margin: 14px 0 4px;
}

ol, ul {
    list-style: none;
}

header.main #logo {
    padding-left: 30px;
}

header.main #logo a {
    width: 154px;
    height: 37px;
    float: left;
    margin-top: 10px;
    background-image: url(http://www.boeing.com/assets/images/logo.png);
    background-size: 154px;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999em;
}

header.main nav.main>ul>li>a {
    font-family: HelveticaNeueW01-75Bold,Helvetica,Helvetica,Arial,sans-serif;
}

header.main nav.main {
    clear: right;
    text-align: center;
}

header.main nav.main>ul>li {
    display: inline-block;
    padding: 0 25px;
}

header.main nav.main>ul>li>a {
    text-decoration: none;
    font-size: 12px;
    color: #5f6a72;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    position: relative;
    transition: color 75ms linear;
}

.image-grid {
    margin: 0px 0;
}

.block.copy-large .wrap {
    padding: 40px 0;
}

.block.fade-bottom .row {
    position: relative;
}

.image-grid:after {
    content: "";
    display: table;
    clear: both;
}

.spotlights {
    background-image: linear-gradient(white, white, #67DAE3);
}

footer.tall {
    height: 295px;
    position: relative;
}

.list-with-title a, .list-with-title h3, .list-with-title li {
    color: #5f6a72;
    font-size: 13px;
}

footer.tall .list-with-title {
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 20px;
}

.list-with-title li {
    line-height: 2;
}

footer.tall .list-with-title li {
    -webkit-font-smoothing: antialiased;
}

footer.tall .col h3 {
    font-family: HelveticaNeueW01-75Bold,Helvetica,Helvetica,Arial,sans-serif;
    color: #5f6a72;
    line-height: 1.3;
    font-size: 12px;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
}


.list-with-title li a {
    text-decoration: none;
}

footer.tall .list-with-title {
    box-sizing: border-box;
    padding-left: 15px;
    padding-top: 20px;
}