
.image-grid>ul {
    height: 100%
}

.image-grid>ul li h2, .image-grid>ul li h3 {
    color: #394957;
}

.copy-styles ul>li {
    padding-left: 10px;
}

.copy-styles ul li {
    list-style-position: outside;
    line-height: 1.4em;
    position: relative;
}

.image-grid>ul a, .image-grid>ul li {
    float: left;
}

.image-grid>ul li {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.image-grid.image-grid-three-columns>ul li {
    width: 33.333%;
    margin-bottom: 30px;
    transition: height 275ms linear;
}

.image-grid>ul li a {
    text-decoration: none;
}

.image-grid>ul li img {
    display: block;
    color: #fff;
}

.image-grid.image-grid-three-columns>ul li a, .image-grid.image-grid-three-columns>ul li img {
    width: 100%;
    height: auto;
}

.image-grid.image-grid-three-columns>ul li a, .image-grid.image-grid-three-columns>ul li img {
    width: 100%;
    height: auto;
}

.image-grid>ul li h2 {
    line-height: 1.1;
}

.copy-styles .heading-lg, .copy-styles .heading-md {
    font-family: HelveticaNeueW01-Thin,Helvetica,Helvetica,Arial,sans-serif;
}

.copy-styles .heading-md {
    font-size: 24px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

.image-grid>ul li .heading-md {
    margin-top: 10px;
}

.image-grid.image-grid-three-columns>ul li .heading-md {
    margin-bottom: 5px;
}