.banner {
    position: relative;
}

.copy-styles {
    font-size: 13px;
    line-height: 1.7;
}

.block.padding-top-small {
    padding-top: 40px;
}

.block.copy-large {
    clear: both;
    display: block;
}

.block.fade-bottom {
    position: relative;
    background-color: #fff;
}

.banner.banner-full-width img {
    width: 1500px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -750px;
}

.banner.banner-full-width {
    width: 100%;
    overflow-x: hidden;
}

.banner.banner-full-width.banner-full-width-large, .banner.banner-full-width.banner-full-width-large.half img {
    height: 205px;
}