<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <sly data-sly-resource="${'image' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}"></sly>
    </div>
    <div class="carousel-item">
      <sly data-sly-resource="${'image2' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}"></sly>
    </div>
    <div class="carousel-item">
      <sly data-sly-resource="${'image3' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}"></sly>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>