<sly data-sly-include="topnav.html"/>

    <div>
        
		<div data-sly-resource="${ 'gallery' @ resourceType='boeing/components/content/carousel' }"></div>

        <div>

    		<div data-sly-resource="${ 'banner' @ resourceType='boeing/components/content/banner' }"></div>

            <section class="spotlights block copy-large copy-styles fade-bottom js-resize">

                <div class="wrap">
    
                    <div class="row">
    
                        <div class="col image-grid image-grid-three-columns image-grid-three-columns-large">

                            <ul>
        
                                <li class="col-md-4" style="clear: none;" data-sly-resource="${ 'spotlight1' @ resourceType='boeing/components/content/spotlight' }"></li>

                                <li class="col-md-4" style="clear: none;" data-sly-resource="${ 'spotlight2' @ resourceType='boeing/components/content/spotlight' }"></li>
    
                                <li class="col-md-4" style="clear: none;" data-sly-resource="${ 'spotlight3' @ resourceType='boeing/components/content/spotlight' }"></li>

                            </ul>
        
                        </div>
    
                    </div>
    
                </div>
    
            </section>

        </div>

	<div>

<div data-sly-include="footer.html"></div>
<sly data-sly-include="customfooterlibs.html"/>