<div>
    <footer class="tall">

        <div class="wrap">

            <div class="row">

                <div class="col col-xs-2 col-xs-offset-1" data-sly-repeat.item="${currentPage.listChildren}">
                    <ul class="utility list-with-title">
                        <li><h3>${item.title}</h3></li>
                        <li data-sly-repeat.category="${item.listChildren}">
                            <a class="footerlink">${category.title}</a>
						</li>
                    </ul>
                </div>

			</div>

		</div> 

    </footer>
</div>