
<meta data-sly-test.keywords="${head.keywords}" name="keywords" content="${keywords}"/>
<meta data-sly-test.description="${head.description}" name="description" content="${description}"/>
<sly data-sly-include="author.html" />


<sly data-sly-include="customheaderlibs.html" />
<title>${properties.jcr:title}</title>