
<header class="main">
    <div class="wrap header">

        <form name="gsearch" method="get" action="http://www.boeing.com/search/results.html" class="search">
			<div class="input-search input-wrap">
				<span class="icon magnify"></span><input type="text" class="input-text" placeholder="Search" name="q" data-mobile-placeholder="Search">
			</div>
		</form>
        <h1 id="logo">
            <a href="#">Boeing</a>
        </h1>

        <nav class="main" data-sly-list.item="${currentPage.listChildren}">
            <ul data-sly-test="${item.name == 'categories'}">
                <li data-sly-repeat.category="${item.listChildren}">
                    <a href="#">${category.title}</a>
				</li>
            </ul>
        </nav>
        <div class="clear both"></div>
    </div>
</header>
