
<sly data-sly-use.props="values.js"/>

    <a href="${props.link}">
    	<sly data-sly-resource="${'image' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}"></sly>
    	<h2 class="heading-md">${props.text @ context='html'}</h2>
    </a>
