

<sly data-sly-use.props="values.js"/>

<section class="block copy-large copy-styles fade-bottom js-resize padding-top-small">

    <div class="banner banner-full-width banner-full-width-large half">

        <div class="image">

            <a href="${props.link}">
                <img src="${props.imgSrc}"/>
            </a>

        </div>

    </div>

</section>

